click
python-dateutil
datasette
datasette-template-sql
datasette-render-markdown>=2.1
sqlite-utils>=3.9.1
yaml-to-sqlite>=1.0
markdown-to-sqlite>=1.0
httpx
feedparser
pypi-to-sqlite
pytest
# These are used in deploy, listing them here so they
# show up in the GitHub dependency graph:
datasette-json-html
datasette-template-sql
python-dateutil
datasette-json-html
datasette-debug-asgi
datasette-publish-fly