{% extends "page_base.html" %}

{% block title %}Alameda.one News{% endblock %}

{% block content %}
{% set ns = namespace(current_date="") %}
{% for row in sql("select publish_date, _path, title, html from news order by publish_date desc", database="content") %}
    {% if prettydate(row["publish_date"]) != (ns.current_date and prettydate(ns.current_date)) %}
        <h3>{{ prettydate(row["publish_date"]) }} <a href="{{ row._path.replace(".md", "") }}" style="font-size: 0.8em; opacity: 0.4">{{ row["title"] }}</a></h3>
        {% set ns.current_date = prettydate(row["publish_date"]) %}
    {% endif %}
    {{ row["html"] | safe }}
{% endfor %}

{% endblock %}
